# Editor/OS cruft
*.swp
*.bak
*~
.DS_Store

# Don't accidentally commit anything with secrets/tokens if you ever add
# scripts here that need API keys, etc.
*.env
secrets.conf
/.local/share/mybash
/.local/state/noctalia/plugins/sources/community/repo
/.local/state/noctalia/plugins/sources/official/repo
/.config/zsh/ohmyzsh
